{% extends "blog/base.html" %} <!-- Использование базового шаблона для наследования общего стиля и разметки -->

{% block title %}{{ post.title }}{% endblock %} <!-- Блок "title" для заголовка страницы. Значение заголовка берется из переменной post.title -->

{% block content %} <!-- Блок "content" для основного содержимого страницы -->
<h1>{{ post.title }}</h1> <!-- Заголовок поста -->
<p class="date">Published {{ post.publish }} by {{ post.author }}</p> <!-- Информация о дате публикации и авторе поста -->
{{ post.body|linebreaks }} <!-- Основное содержание поста с возможностью переноса строк -->
{% endblock %} <!-- Закрытие блока "content" -->
